*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #42b27c;
}
.parent{
   
    height: 40rem;
    width: 40rem;
    top: 40rem;
    bottom: 40rem;
    padding-top: 10rem;
    padding-left: 20rem;
    transition-property: transform;
    transition-duration: 1.5s;
    transition-timing-function:linear;
 
}
.parent:hover{
    transform:translate(80px);

    

}
.first{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 15rem;
    margin: auto;
    padding-left: 2.2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
background-color: #c33440;
transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: linear;
   
}
.first:hover{
    transform: rotate(45deg);
    background-color: #faba38;
 
}
.second{
    height: 10rem;
    width: 10rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
 background-color: #faba38;
 transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: linear;
 
}
.second:hover{
    transform: rotate(45deg);
    background-color:chocolate;
    /* width:500px; */
}
.third{
    height: 5rem;
    width: 5rem;
    margin: auto;
    /* padding: 2rem ,2rem ,2rem,2rem; */
   padding-left: 2rem;
   padding-right: 2rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
background-color: #5050a2;
/* transition-property: transform; */
    transition-duration: 2s;
    /* transition-timing-function: linear; */
transition: background-color is linear;
}
.third:hover{
    transform: rotate(45deg);
    background-color: azure;
}
@media all and (max-width:400px) {
    body{
        background-color: #28a3b5;
    }
}